<?xml version="1.0" encoding="UTF-8"?>
<nav xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="i18n:translate" data-template-lang="en" data-template-registryues="/db/apps/baudiApp/resources/lang" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="resources/img/crApp-logo-transparent.png" alt="crApp logo" width="30" height="24" class="d-inline-block align-text-top"/>
                Critical <span style="color:green;">App</span>aratus
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
                </ul>
            </div>
            <div data-template="app:langSwitch"/>
            <!--<form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>-->
        </div>
    </nav>