<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title data-template="config:app-title">Critical Apparatus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="icon.png"/>
        
        <!-- TODO: paths are hardcoded, not good... -->
        
        <!-- Bootstrap core CSS -->
        <!--        <link rel="stylesheet" href="https://baumann-digital.de/resources/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css"/>
        
        <!-- Bootstrap theme -->
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        
        <!-- sticky-footer -->
        <!--        <link href="https://baumann-digital.de/resources/css/sticky-footer-navbar.css" rel="stylesheet"/>-->
        
        <!-- Custom styles for this template -->
        <link href="resources/css/styles.css" rel="stylesheet"/>
        
        
    </head>
    <body id="body" class="d-flex flex-column">
        <nav data-template="templates:include" data-template-path="templates/html/crAppNav.html"/>
        <main role="main" class="container mt-1" id="content"/>
        <footer data-template="templates:include" data-template-path="templates/html/crAppFooter.html"/>
        
        <!-- Bootstrap core JavaScript
				 ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"/>
        <!-- edition filter -->
        <script src="resources/js/crappEvents.js"/>
    </body>
</html>